*{
    margin: 0;
    padding: 0;
}

.uno {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}

.dos {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}

.tres {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuatro {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cinco {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.seis {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.siete {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.ocho {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.nueve {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.diez {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.once {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.dose {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.trece {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.catorce {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.quince {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.diesiseis {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.diesisiete {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.diesiocho {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.diesinueve {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veinte {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.ventiuno {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veintidos {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veintitres {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veinticuaro {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veinticinco {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veintiseis {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veintisiete {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veintiocho {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.veintinueve {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treinta {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintayuno {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintaydos{
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintaytres {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintaycuatro {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.teintaycinco {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintayesis {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintaysiete {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintayocho {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintaynueve {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarenta {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentayuno {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaydos {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaytres {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaycuatro {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaycinco {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentayseis {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaysiete {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentayocho {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaynueve {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuenta {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentayuno {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaydos {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaytres {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaycuatro {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaycinco {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentayseis {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaysiete {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentayocho {
    margin: 10;
    display: inline-table;
    filter: drop-shadow(10px 10px 20px)  skyblue;
}