* {
    width: 250px;
    height: 250px;
    float: left;
    margin: 10px;

}

.uno {
    display: block;
    filter: drop-shadow(10px 10px 20px (skyblue));
}

.dos {

    filter: drop-shadow(10px 10px 20px (rgb(104, 29, 104 )));
}

.tres {

    filter: drop-shadow(10px 10px 20px (black));
}
.cuatro {

    filter: drop-shadow(10px 10px 20px (rgb(107, 107, 107) ));
}
.cinco {

    filter: drop-shadow(10px 10px 20px (rgb(47, 194, 47))) ;
}
.seis {

    filter: drop-shadow(10px 10px 20px (rgb(15, 15, 143))) ;
}
.siete {

    filter: drop-shadow(10px 10px 20px (rgb(209, 209, 0)));
}
.ocho {

    filter: drop-shadow(10px 10px 20px (rgb(6, 34, 6)))  ;
}
.nueve {

    filter: drop-shadow(10px 10px 20px (rgb(114, 83, 114))) ;
}
.diez {

    filter: drop-shadow(10px 10px 20px (rgb(4, 243, 243))) ;
}
.once {

    filter: drop-shadow(10px 10px 20px (rgb(233, 162, 162)));
}
.dose {

    filter: drop-shadow(10px 10px 20px (rgb(40, 134, 40))) ;
}
.trece {

    filter: drop-shadow(10px 10px 20px (rgb(216, 86, 26))) ;
}
.catorce {

    filter: drop-shadow(10px 10px 20px (rgb(14, 175, 8)))  ;
}
.quince {

    filter: drop-shadow(10px 10px 20px (rgb(182, 143, 182))) ;
}
.diesiseis {

    filter: drop-shadow(10px 10px 20px (rgb(255, 146, 164))) ;
}
.diesisiete {

    filter: drop-shadow(10px 10px 20px (rgb(255, 255, 154))) ;
}
.diesiocho {

    filter: drop-shadow(10px 10px 20px (rgb(224, 123, 7)))  ;
}
.diesinueve {

    filter: drop-shadow(10px 10px 20px ( rgb(73, 4, 73))) ;
}
.veinte {

    filter: drop-shadow(10px 10px 20px (rgb(53, 53, 129))) ;
}
.ventiuno {

    filter: drop-shadow(10px 10px 20px (rgb(175, 157, 175))) ;
}
.veintidos {

    filter: drop-shadow(10px 10px 20px (rgb(5, 5, 61))) ;
}
.veintitres {

    filter: drop-shadow(10px 10px 20px (rgb(250, 166, 10))) ;
}
.veinticuaro {

    filter: drop-shadow(10px 10px 20px (rgba(255, 255, 255, 0.856))) ;
}
.veinticinco {

    filter: drop-shadow(10px 10px 20px (rgb(161, 161, 161)));
}
.veintiseis {

    filter: drop-shadow(10px 10px 20px (rgb(255, 115, 139)))  ;
}
.veintisiete {

    filter: drop-shadow(10px 10px 20px (skyblue)) ;
}
.veintiocho {

    filter: drop-shadow(10px 10px 20px (rgb(124, 37, 37))) ;
}
.veintinueve {

    filter: drop-shadow(10px 10px 20px (rgb(196, 196, 91)))  ;
}
.treinta {

    filter: drop-shadow(10px 10px 20px (rgb(185, 102, 185))) ;
}
.treintayuno {

    filter: drop-shadow(10px 10px 20px (skyblue)) ;
}
.treintaydos{

    filter: drop-shadow(10px 10px 20px (rgb(255, 154, 171))) ;
}
.treintaytres {

    filter: drop-shadow(10px 10px 20px (rgb(255, 176, 255))) ;
}
.treintaycuatro {

    filter: drop-shadow(10px 10px 20px (rgb(224, 167, 224))) ;
}
.teintaycinco {

    filter: drop-shadow(10px 10px 20px (rgb(250, 201, 201))) ;
}
.treintayesis {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintaysiete {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintayocho {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.treintaynueve {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarenta {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentayuno {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaydos {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaytres {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaycuatro {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaycinco {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentayseis {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaysiete {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentayocho {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cuarentaynueve {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuenta {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentayuno {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaydos {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaytres {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaycuatro {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaycinco {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentayseis {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentaysiete {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}
.cincuentayocho {

    filter: drop-shadow(10px 10px 20px)  skyblue;
}